<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="/service_areas">Service Areas</a></li>
    <li class="disabled"><%= @service_area.state %></li>
  </ul>
</nav>

</br>
<div class="show_products">
  <h1>Planters in <%= @service_area.state %></h1>

  <p> <%= @service_area.description %></p>
</div>

</br>
<div class="show_products">
    <h5>Click on a image below to view our wide range of planters avilable.</h5>
  <ul class="small-block-grid-4">
    <li><a href="/concrete_planters"><img src="https://www.godawn.com/wp-content/uploads/2016/02/Concrete-Planters-Sub-Pic-sized-1.jpg" alt="Concrete Planters"> <%= link_to 'Concrete Planters', concrete_planters_path %> </li>
    <li><a href="/fiberglass_planters"><img src="https://www.godawn.com/wp-content/uploads/2016/02/Fiberglass-Planters-Sub-Pic-sized-1.jpg" alt="Fiberglass Planters"> <%= link_to 'Fiberglass Planters', fiberglass_planters_path %> </li>
    <li><a href="/plastic_planters"><img src="https://www.godawn.com/wp-content/uploads/2016/02/Plastic-Planters-Category-Pic-sized-1-560x826.jpg" alt="Plastic Planters"> <%= link_to 'Plastic Planters', plastic_planters_path %> </li>
    <li><a href="/metal_planters"><img src="https://www.godawn.com/wp-content/uploads/2016/02/steel_planter-cat-pic-1.jpg" alt="Metal Planters"> <%= link_to 'Metal Planters', metal_planters_path %> </li>
  </ul>
</div>
