<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="/plastic_planters">Plastic Planters</a></li>
    <li class="disabled"><%= @plastic_planter.product_name %></li>
  </ul>
</nav>

<div class="show_products_title">
  <h2><%= @plastic_planter.product_name %></h2>

  <div class="hide-for-medium-down">
    <span class="previous">
      <%= link_to("< Previous Planter", @plastic_planter.previous) %>
    </span>

    <span class="categorylink">
      <%= link_to("All Plastic Planters", plastic_planters_path)%>
    </span>

    <span class="next">
      <%= link_to("Next Planter >", @plastic_planter.next) %>
    </span>
  </div>
</div>

<div class="show_products_main">
</br>
    <img class="productimage"src="<%= @plastic_planter.image %>" align="left" alt="<%= @plastic_planter.product_name %>">

    <h5> Prices starting at: <%= @plastic_planter.price %> </h5>
    <p><strong> Model:</strong> <%= @plastic_planter.model %>
    </br><strong> Dimensions:</strong> (<%= @plastic_planter.dimensions %>)
  </br><strong> Weight:</strong> <%= @plastic_planter.weight %></p>


    <p><strong>Product Description:</strong> </br> <%= @plastic_planter.description %> </p>
</div>

</br>
<div class="show_products">
  <p><strong> Colors:</strong> <%= @plastic_planter.colors %> </p>
  <p><strong> Finishes:</strong> <%= @plastic_planter.finishes %></p>
  <%= link_to "View '#{@plastic_planter.product_name}' Color Options", @plastic_planter.color_sheet, target: '_blank' %>
</div>

</br>
<div class="show_products">
  <h4> Additional Product Information: </h4>
  <p><%= @plastic_planter.additional_info.html_safe %></p>
  <%= link_to "View '#{@plastic_planter.product_name}' Spec Sheet", @plastic_planter.spec, target: '_blank' %>
</div>
