<h1><%= @plastic_planter.product_name %></h1>

<div class="show_products">
  <p><img src="<%= @plastic_planter.image %>"><p>

  <div class="show_text">
    <p> Model: <%= @plastic_planter.model %>
    </br> Dimensions: (<%= @plastic_planter.dimensions %>)
  </br> Weight: <%= @plastic_planter.weight %></p>
    <p> <%= @plastic_planter.description %> </p>
  </div>
</div>
