<h1><%= @fiberglass_planter.product_name %></h1>

<div class="show_products">
  <p><img src="<%= @fiberglass_planter.image %>"><p>

  <div class="show_text">
    <p> Model: <%= @fiberglass_planter.model %>
    </br> Dimensions: (<%= @fiberglass_planter.dimensions %>)
  </br> Weight: <%= @fiberglass_planter.weight %></p>
    <p> <%= @fiberglass_planter.description %> </p>
  </div>
</div>
