<h1><%= @concrete_planter.product_name %></h1>

<div class="show_products">
  <p><img src="<%= @concrete_planter.image %>"><p>

  <div class="show_text">
    <p> Model: <%= @concrete_planter.model %>
    </br> Dimensions: (<%= @concrete_planter.dimensions %>)
    </br> Weight: <%= @concrete_planter.weight %></p>
    <p> <%= @concrete_planter.description %> </p>
  </div>
</div>
