<br><br>
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="/concrete_planters">Concrete Planters</a></li>
    <li class="disabled"><%= @concrete_planter.product_name %></li>
  </ul>
</nav>

<div class="show_products_title">
<h2><%= @concrete_planter.product_name %></h2>

  <div class="hide-for-medium-down">
    <span class="previous">
      <%= link_to("< Previous Planter", @concrete_planter.previous) %>
    </span>

    <span class="categorylink">
      <%= link_to("All Concrete Planters", concrete_planters_path)%>
    </span>

    <span class="next">
      <%= link_to("Next Planter >", @concrete_planter.next) %>
    </span>
  </div>

</div>

<div class="show_products_main">
</br>
    <img class="productimage"src="<%= @concrete_planter.image %>" align="left" alt="<%= @concrete_planter.product_name %>">

    <h5> Prices starting at: <%= @concrete_planter.price %> </h5>
    <p><strong> Model:</strong> <%= @concrete_planter.model %>
    </br><strong> Dimensions:</strong> (<%= @concrete_planter.dimensions %>)
    </br><strong> Weight:</strong> <%= @concrete_planter.weight %></p>


    <p><strong>Product Description:</strong> </br> <%= @concrete_planter.description.html_safe %> </p>
</div>

</br>
<div class="show_products">
  <p><strong> Colors:</strong> <%= @concrete_planter.colors %></p>
  <p><strong> Finishes:</strong> <%= @concrete_planter.finishes %></p>
  <%= link_to "View '#{@concrete_planter.product_name}' Color/Finish Options", @concrete_planter.color_sheet, target: '_blank' %>
</div>

</br>
<div class="show_products_bottom">
  <h4> Additional Product Information: </h4>
  <p><%= @concrete_planter.additional_info.html_safe %></p>
  <%= link_to "View '#{@concrete_planter.product_name}' Spec Sheet", @concrete_planter.spec, target: '_blank' %>
</div>

  <div class="hide-for-medium-down">
    <div class="show_products_related">
    <h2><%= "Related Concrete Planters" %></h2>

      <div class="row_related">
        <div class="column_related">
          <% if @concrete_planter.previous.present? %>
          <%= @concrete_planter.previous.product_name %>
          <img class="relatedproductimage" src="<%= @concrete_planter.previous.image %>">
          <br><%= link_to("< View Previous Planter", @concrete_planter.previous) %>
          <% end %>
        </div>

        <div class="column_related">
          <%= @concrete_planter.product_name %>
          <img class="relatedproductimage" src="<%= @concrete_planter.image %>">
          <br><%= link_to("View All Concrete Planters", concrete_planters_path)%>
        </div>

        <div class="column_related">
          <% if @concrete_planter.next.present? %>
          <%= @concrete_planter.next.product_name %>
          <img class="relatedproductimage" src="<%= @concrete_planter.next.image %>">
          <br><%= link_to("View Next Planter >", @concrete_planter.next) %>
          <% end  %>
        </div>
      </div>

    </div>
  </div>
