<br><br>
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="/self_watering_planters">Self Watering Planters</a></li>
    <li class="disabled"><%= @self_watering_planter.product_name %></li>
  </ul>
</nav>

<div class="show_products_title">
<h2><%= @self_watering_planter.product_name %></h2>

  <div class="hide-for-medium-down">
    <span class="previous">
      <%= link_to("< Previous Planter", @self_watering_planter.previous) %>
    </span>

    <span class="categorylink">
      <%= link_to("All Self Watering Planters", self_watering_planters_path)%>
    </span>

    <span class="next">
      <%= link_to("Next Planter >", @self_watering_planter.next) %>
    </span>
  </div>
</div>

<div class="show_products_main">
</br>
    <img class="productimage"src="<%= @self_watering_planter.image %>" align="left" alt="<%= @self_watering_planter.product_name %>">

    <h5> Prices starting at: <%= @self_watering_planter.price %> </h5>
    <p><strong> Model:</strong> <%= @self_watering_planter.model %>
    </br><strong> Dimensions:</strong> (<%= @self_watering_planter.dimensions %>)
  </br><strong> Weight:</strong> <%= @self_watering_planter.weight %></p>


    <p><strong>Product Description:</strong> </br> <%= @self_watering_planter.description.html_safe %> </p>
</div>

</br>
<div class="show_products_bottom">
  <h4> Additional Product Information: </h4>
  <p><%= @self_watering_planter.additional_info.html_safe %></p>
  <%= link_to "View '#{@self_watering_planter.product_name}' Spec Sheet", @self_watering_planter.spec, target: '_blank' %>
</div>

<div class="show_products">
  <p><strong> Colors:</strong> <%= @self_watering_planter.colors %> </p>
  <p><strong> Finishes:</strong> <%= @self_watering_planter.finishes %></p>
  <%= link_to "View '#{@self_watering_planter.product_name}' Color Options", @self_watering_planter.color_sheet, target: '_blank' %>
</div>
</br>
