<h1> Edit Metal Planters </h1>

<div class="show_products_title">
<h2><%= @metal_planter.product_name %></h2>

  <div class="hide-for-medium-down">
    <span class="previous">
      <%= link_to("< Previous Planter", @metal_planter.previous) %>
    </span>

    <span class="categorylink">
      <%= link_to("All Metal Planters", metal_planters_path)%>
    </span>

    <span class="next">
      <%= link_to("Next Planter >", @metal_planter.next) %>
    </span>
  </div>

</div>

<div class="show_products_main">
</br>
    <img class="productimage"src="<%= @metal_planter.image %>" align="left" alt="<%= @metal_planter.product_name %>">

    <h5> Prices starting at: <%= @metal_planter.price %> </h5>
    <p><strong> Model:</strong> <%= @metal_planter.model %>
    </br><strong> Dimensions:</strong> (<%= @metal_planter.dimensions %>)
  </br><strong> Weight:</strong> <%= @metal_planter.weight %></p>


    <p><strong>Product Description:</strong> </br> <%= @metal_planter.description.html_safe %> </p>
</div>

</br>
<div class="show_products">
  <p><strong> Colors:</strong> <%= @metal_planter.colors %> </p>
  <p><strong> Finishes:</strong> <%= @metal_planter.finishes %></p>
  <%= link_to "View '#{@metal_planter.product_name}' Color/Finish Options", @metal_planter.color_sheet, target: '_blank' %>
</div>

</br>
<div class="show_products_bottom">
  <h4> Additional Product Information: </h4>
  <p><%= @metal_planter.additional_info.html_safe %></p>
  <%= link_to "View '#{@metal_planter.product_name}' Spec Sheet", @metal_planter.spec, target: '_blank' %>

  <div class="edit_form">
    <%= render "form" %>
  </div>

  <span><%= link_to 'Delete', @metal_planter, method: :delete %></span>
</div>
