<h1><%= @metal_planter.product_name %></h1>

<div class="show_products">
  <p><img src="<%= @metal_planter.image %>"><p>

  <div class="show_text">
    <p> Model: <%= @metal_planter.model %>
    </br> Dimensions: (<%= @metal_planter.dimensions %>)
  </br> Weight: <%= @metal_planter.weight %></p>
    <p> <%= @metal_planter.description %> </p>
  </div>
</div>
