<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="/metal_planters">Metal Planters</a></li>
    <li class="disabled"><%= @metal_planter.product_name %></li>
  </ul>
</nav>

<div class="show_products">
  <h1><%= @metal_planter.product_name %></h1>

  <p><img class="productimage" src="<%= @metal_planter.image %>"><p>

  <div class="show_text">
    <p><strong>Model:</strong> <%= @metal_planter.model %>
    </br><strong>Dimensions:</strong> (<%= @metal_planter.dimensions %>)
  </br><strong> Weight:</strong> <%= @metal_planter.weight %></p>
  <p><strong> Colors:</strong> <%= @metal_planter.colors %></p>
    <p> <%= @metal_planter.description %> </p>
  </div>
</div>
