<!DOCTYPE html>
<html>
<head>
  <title>BigPlanters</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_include_tag "vendor/modernizr" %>

  <%= csrf_meta_tags %>
</head>
  <body>

    <div class="fixed">
      <nav class="top-bar">
          <ul class="title-area">
            <li class="name">
              <h1><a href="/">Our Planters. Beautify Your Space.</a></h1>
            </li>
          </ul>

        <section class="top-bar-section">
          <div class="hide-for-medium-down">
            <ul class="right">
              <% if user_signed_in? %>
                  <li>
                    <div class="user_email">
                      <%= current_user.email %>
                    </div>
                  </li>
                <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
              <%- else -%>
                <li><%= link_to 'Sign Up', new_user_registration_path %></li>
                <li><%= link_to 'Sign In', new_user_session_path %></li>
              <%- end -%>
            </ul>
          </div>
            <div style="overflow: hidden;">
              <div class="header-row-1">
                <a href="/product_groups">Home</a> |
                <a href="/service_areas">Service Areas</a> |
                <a href="/customers/new">Contact Us</a> |
                <a href="/about_us">About Us</a>
              </div>
            </div>
          </section>
      </nav>


      <div style="overflow: hidden;">
        <div class="header-row">
          <a href="/concrete_planters">Concrete</a> |
          <a href="/fiberglass_planters">Fiberglass</a> |
          <a href="/plastic_planters">Plastic</a> |
          <a href="/metal_planters">Metal</a> |
          <a href="/self_watering_planters">Self-Watering</a> |
          <a href="/new_products">New Products</a>
        </div>
      </div>

    </div>

      <!-- <div class="hide-for-medium-down">
        <div class="side_nav">
          <div class="small-2 columns">
            <a class="button small expanded" href="/concrete_planters">Concrete</a>
            <a class="button small expanded" href="/fiberglass_planters">Fiberglass</a>
            <a class="button small expanded" href="/plastic_planters">Plastic</a>
            <a class="button small expanded" href="/metal_planters">Metal</a>
            <a class="button small expanded" href="/self_watering_planters">Self-Watering</a>
            <a class="button small expanded" href="/new_products">New Products</a>
          </div>
        </div>
      </div> -->


      <%- flash.each do |key, value| -%>
        <div class="flash flash-<%= key %>">
          <%= value %>
        </div>
      <%- end -%>


      <div class="content-wrapper">
      <%= yield %>
      </div>


      <%= javascript_include_tag 'application' %>

      <%- if Rails.env.development? || Rails.env.test? -%>
        <%= javascript_tag do %>
          window.railsEnv = '<%= Rails.env %>'
        <%- end -%>
      <%- end -%>
      <%= javascript_pack_tag 'application' %>
    </body>

      <div class="hide-for-medium-down">
        <div class="footer">
          <%= yield :extra_footer %>
          <%= render "layouts/footer" %>
        </div>
      </div>
</html>
