<!DOCTYPE html>
<html>
<head>
  <title>BigPlanters</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_include_tag "vendor/modernizr" %>

  <%= csrf_meta_tags %>
</head>

<div class="fixed">
    <nav class="top-bar">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">Our Planters. Beautify Your Space</a></h1>
        </li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <li class="name">
            <h1><a href="#">Call Us Today! 1-888-449-0542</a></h1>
          </li>
          <%- if current_user -%>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <%- else -%>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            <li><%= link_to 'Sign In', new_user_session_path %></li>
          <%- end -%>
        </ul>
      </section>
    </nav>

  <div class="small-12 colums">
    <div class="header-row">
      <a href="/product_groups">Home</a> |
      <a href="#">Request A Quote</a> |
      <a href="#">Service Areas</a> |
      <a href="/customers/new">Contact Us</a> |
      <a href="/about_us">About Us</a>
    </div>
  </div>
</div>

  <div class="side_nav">
    <div class="small-2 columns">
      <a class="button small expanded" href="/concrete_planters">Concrete</a>
      <a class="button small expanded" href="/fiberglass_planters">Fiberglass</a>
      <a class="button small expanded" href="/plastic_planters">Plastic</a>
      <a class="button small expanded" href="/metal_planters">Metal</a>
      <a class="button small expanded" href="/product_groups/5">Self-Watering</a>
      <a class="button small expanded" href="/product_groups/6">Tree Tubs</a>
      <a class="button small expanded" href="#">New Products</a>
    </div>
  </div>

<body>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <div class="content-wrapper">
  <%= yield %>
  <div>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

  <%= yield :extra_footer %>
</body>
</html>
